<launch>
	<arg name="debug" value="False"/>
	<arg name="test" value="True"/>
	
	<node name="nautonomous_routing_vaarkaart" pkg="nautonomous_routing_vaarkaart" type="vaarkaart_routing_node.py"  output="screen" >
 		<param name="debug" value="$(arg debug)"/>
		<param name="test" value="$(arg test)"/>
	</node>

</launch>
